.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #68666680;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px #faf8f880;
    max-width: 80vw;
    max-height: 80vh;
    overflow: auto;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInUp 0.5s forwards;
    background-size: cover; /* Set background size to cover */
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Remove close button styles */
  .close-button {
    display: none; /* Hide the close button */
  }